* {
  padding: 0;
  margin: 0;
  border: 0px;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: auto;
  background-color: black;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar {
  width: 0.9375vw;
}

::-webkit-scrollbar-thumb {
  background-color: #181818;
}

.contant .container .options, .country .container .options, .sweden .container .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.contant .container .options div, .country .container .options div, .sweden .container .options div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.11111vw;
  height: 1.11111vw;
}

.contant .container .options div img, .country .container .options div img, .sweden .container .options div img {
  height: 100%;
}

.contant .container .options div p, .country .container .options div p, .sweden .container .options div p {
  margin-left: 0.41667vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83333vw;
  color: #FFFFFF;
}

.product .container div div .box button, .sweden .container .text button, .help .container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.93056vw;
  padding: 0.625vw 1.04167vw 0.34722vw 1.04167vw;
  border-radius: 1.04167vw;
  background-color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.04167vw;
  line-height: 1.38889vw;
  letter-spacing: 0.02778vw;
  color: #000000;
}

.product .container div div .box button div, .sweden .container .text button div, .help .container button div {
  margin: -0.27778vw 0px 0px -0.76389vw;
  width: 2.22222vw;
  height: 2.22222vw;
  border-radius: 35%;
  background-color: black;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.product .container div div .box button:hover > div, .sweden .container .text button:hover > div, .help .container button:hover > div {
  border-radius: 50%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25vw;
  background-color: #181818;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.66667vw;
  width: 79.72222vw;
}

header .container .header-logo img {
  margin-top: 0.55556vw;
  width: 8.88889vw;
}

header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.90278vw 0px 0px 20.83333vw;
  width: 34.30556vw;
}

header .container .menu a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.04167vw;
  line-height: 1.38889vw;
  color: #FFFFFF;
}

header .container .link {
  border-radius: 0.97222vw;
  padding: 0.76389vw 1.38889vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.11111vw;
  letter-spacing: 0.02778vw;
  color: #000000;
  background-color: #FFFFFF;
}

header .container .menu-burger {
  display: none;
}

@media (max-width: 575px) {
  header {
    height: 15.65217vw;
  }
  header .container {
    margin-top: 4.17391vw;
    width: 90.43478vw;
  }
  header .container .header-logo img {
    margin-top: 1.73913vw;
    width: 22.26087vw;
  }
  header .container .menu {
    display: none;
  }
  header .container .link {
    margin-left: 24.34783vw;
    border-radius: 2.43478vw;
    padding: 1.56522vw 3.47826vw;
    font-size: 2.78261vw;
    letter-spacing: 0.06957vw;
  }
  header .container .menu-burger {
    display: block;
  }
  header .container .menu-burger img {
    width: 7.65217vw;
  }
}

footer {
  margin-top: 13.88889vw;
}

footer .container {
  margin: 0 auto;
  width: 81.11111vw;
}

footer .container .level-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2.5vw;
  border-bottom: 0.10417vw solid white;
}

footer .container .level-1 .footer-logo {
  width: 41.66667vw;
}

footer .container .level-1 .footer-logo a img {
  width: 8.88889vw;
  height: 2.15278vw;
}

footer .container .level-1 .footer-logo p {
  margin-top: 1.38889vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.90278vw;
  line-height: 1.38889vw;
  color: #C0C0C0;
}

footer .container .level-1 .link {
  width: 15.27778vw;
}

footer .container .level-1 .link h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  letter-spacing: 0.13889vw;
  text-transform: uppercase;
  color: #C0C0C0;
}

footer .container .level-1 .link a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 2.08333vw;
  color: #FFFFFF;
}

footer .container .level-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5vw;
  padding-bottom: 2.5vw;
  border-bottom: 0.10417vw solid white;
}

footer .container .level-2 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

footer .container .level-2 span div h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  letter-spacing: 0.13889vw;
  text-transform: uppercase;
  color: #FFFFFF;
}

footer .container .level-2 span div p {
  margin-top: 1.38889vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.90278vw;
  line-height: 1.38889vw;
  color: #C0C0C0;
}

footer .container .level-2 span form {
  width: 31.66667vw;
  height: 3.47222vw;
  border: 0.06944vw solid #E5E7EB;
  border-radius: 0.83333vw;
  background-color: #FFFFFF;
}

footer .container .level-2 span form input {
  margin-left: 1.18056vw;
  width: 25.69444vw;
  height: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.11111vw;
  line-height: 1.38889vw;
  color: #494949;
  background: none;
}

footer .container .level-2 span form button {
  padding: 0.41667vw 1.11111vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83333vw;
  line-height: 1.25vw;
  border-radius: 0.76389vw;
  color: black;
  background-color: black;
}

footer .container .level-2 .none {
  display: none;
}

footer .container .level-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.88889vw;
  padding-bottom: 1.38889vw;
}

footer .container .level-3 h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  color: #C0C0C0;
}

footer .container .level-3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7.77778vw;
}

footer .container .level-3 div a img {
  width: 1.66667vw;
  height: 1.66667vw;
}

@media (max-width: 575px) {
  footer {
    margin-top: 21.04348vw;
  }
  footer .container {
    margin: 0 auto;
    width: 90.43478vw;
  }
  footer .container .level-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 5.21739vw;
    border-bottom: 0.26087vw solid white;
  }
  footer .container .level-1 .footer-logo {
    width: auto;
  }
  footer .container .level-1 .footer-logo a img {
    width: 22.26087vw;
    height: 5.3913vw;
  }
  footer .container .level-1 .footer-logo p {
    width: 37.04348vw;
    margin-top: 3.47826vw;
    font-size: 2.26087vw;
    line-height: 3.47826vw;
  }
  footer .container .level-1 .link {
    width: 33.56522vw;
  }
  footer .container .level-1 .link h1 {
    font-size: 2.43478vw;
    line-height: 3.47826vw;
    letter-spacing: 0.34783vw;
  }
  footer .container .level-1 .link a {
    font-size: 2.43478vw;
    line-height: 5.21739vw;
  }
  footer .container .level-1 .none {
    display: none;
  }
  footer .container .level-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5.21739vw;
    padding-bottom: 5.21739vw;
    border-bottom: 0.26087vw solid white;
  }
  footer .container .level-2 span {
    display: block;
    width: auto;
  }
  footer .container .level-2 span div h1 {
    width: 29.56522vw;
    font-size: 2.43478vw;
    line-height: 3.47826vw;
    letter-spacing: 0.34783vw;
  }
  footer .container .level-2 span div p {
    margin-top: 3.47826vw;
    font-size: 2.26087vw;
    line-height: 3.47826vw;
  }
  footer .container .level-2 span form {
    margin-top: 3.47826vw;
    width: 51.65217vw;
    height: 8vw;
    border: 0.17391vw solid #E5E7EB;
    border-radius: 2.08696vw;
  }
  footer .container .level-2 span form input {
    margin-left: 1.73913vw;
    width: 38.26087vw;
    font-size: 2.78261vw;
    line-height: 3.47826vw;
  }
  footer .container .level-2 span form button {
    padding: 1.04348vw 2.08696vw;
    font-size: 2.08696vw;
    line-height: 3.13043vw;
    border-radius: 1.91304vw;
  }
  footer .container .level-2 .link {
    display: block;
    width: 33.56522vw;
  }
  footer .container .level-2 .link h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.43478vw;
    line-height: 3.47826vw;
    letter-spacing: 0.34783vw;
    text-transform: uppercase;
    color: #C0C0C0;
  }
  footer .container .level-2 .link a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.43478vw;
    line-height: 5.21739vw;
    color: #FFFFFF;
  }
  footer .container .level-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 8.86957vw;
    padding-bottom: 0vw;
  }
  footer .container .level-3 h1 {
    font-size: 2.08696vw;
    line-height: 3.47826vw;
  }
  footer .container .level-3 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 19.47826vw;
  }
  footer .container .level-3 div a img {
    width: 4.17391vw;
    height: 4.17391vw;
  }
}

.contant {
  margin-top: 6.25vw;
  padding-top: 32.01389vw;
  width: 100%;
  height: 17.36111vw;
  background: url("../img/bg-img-main.png") no-repeat center top/cover;
}

.contant .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 94.16667vw;
}

.contant .container .text {
  margin: 0 auto;
  width: 40.27778vw;
}

.contant .container .text h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  text-align: center;
  letter-spacing: 0.13889vw;
  text-transform: uppercase;
  color: #C0C0C0;
}

.contant .container .text h1 {
  margin-top: 0.06944vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 3.75vw;
  line-height: 4.09722vw;
  text-align: center;
  color: #FFFFFF;
}

.contant .container .text p {
  margin-top: 1.25vw;
  margin-bottom: 0.27778vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  text-align: center;
  color: #C0C0C0;
}

.product {
  margin-top: 5.55556vw;
}

.product .container {
  margin: 0 auto;
  width: 81.11111vw;
}

.product .container h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2.77778vw;
  line-height: 2.91667vw;
  text-align: center;
  color: #FFFFFF;
}

.product .container h2 {
  margin-top: 1.04167vw;
  margin-bottom: 2.77778vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.59722vw;
  line-height: 2.08333vw;
  text-align: center;
  color: #C0C0C0;
}

.product .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 84.44444vw;
}

.product .container div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
}

.product .container div div .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27.84722vw 0px 0px 2.08333vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 37.91667vw;
  height: 13.81944vw;
}

.product .container div div .box h1 {
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  text-align: left;
  letter-spacing: 0.13889vw;
  text-transform: uppercase;
  color: #FFFFFF;
}

.product .container div div .box p {
  margin-top: 0.69444vw;
  margin-bottom: 1.18056vw;
  width: 34.72222vw;
  height: 5.55556vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  color: #C0C0C0;
}

.product .container div div .b1 {
  background: url("../img/prod-img-1.png") no-repeat center top/cover;
}

.product .container div div .b2 {
  background: url("../img/prod-img-2.png") no-repeat center top/cover;
}

.product .container div div .b3 {
  background: url("../img/prod-img-3.png") no-repeat center top/cover;
}

.product .container div div .b4 {
  background: url("../img/prod-img-4.png") no-repeat center top/cover;
}

.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  height: 37.5vw;
}

.country .container {
  margin-right: 3.05556vw;
  width: 21.94444vw;
}

.country .container .text {
  margin-top: 18.05556vw;
}

.country .container .text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  letter-spacing: 0.13889vw;
  text-transform: uppercase;
  color: #FFFFFF;
}

.country .container .text p {
  width: 20.83333vw;
  height: 5.55556vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  color: #C0C0C0;
}

.country .container .options {
  margin: 9.375vw 0px 0px 0px;
}

.count-1 {
  margin-top: 5.55556vw;
  background: url("../img/japan-img.png") no-repeat center top/cover;
}

.count-2 {
  background: url("../img/costa-rica-img.png") no-repeat center top/cover;
}

.count-3 {
  background: url("../img/nepal-img.png") no-repeat center top/cover;
}

.sweden {
  margin: 0;
  width: 100%;
  height: 37.5vw;
  background: url("../img/bg-img-2.png") no-repeat center top/cover;
}

.sweden .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-top: 12.43056vw;
  width: 94.16667vw;
}

.sweden .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3.88889vw;
}

.sweden .container .text h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  letter-spacing: 0.13889vw;
  text-transform: uppercase;
  color: #C0C0C0;
}

.sweden .container .text h1 {
  margin-top: 0.41667vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.94444vw;
  line-height: 2.22222vw;
  color: #FFFFFF;
}

.sweden .container .text p {
  margin-top: 0.97222vw;
  width: 35.69444vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.97222vw;
  line-height: 1.38889vw;
  color: #FFFFFF;
}

.sweden .container .text button {
  margin-top: 1.38889vw;
}

.sweden .container .options {
  margin-top: 6.80556vw;
}

.partners {
  display: block;
  padding-top: 8.33333vw;
  width: 100%;
  height: 26.38889vw;
  background-color: black;
}

.partners .container {
  margin: 0 auto;
  width: 74.72222vw;
}

.partners .container h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2.77778vw;
  line-height: 2.91667vw;
  text-align: center;
  color: #FFFFFF;
}

.partners .container h2 {
  margin-top: 1.04167vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.66667vw;
  line-height: 2.08333vw;
  text-align: center;
  color: #C0C0C0;
}

.partners .container div {
  margin-top: 5.69444vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .container div img {
  width: 8.88889vw;
  height: 5.41667vw;
}

.help .container {
  margin-top: 7.63889vw;
}

.help .container h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2.77778vw;
  line-height: 2.91667vw;
  text-align: center;
  color: #FFFFFF;
}

.help .container p {
  margin-top: 1.04167vw;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.66667vw;
  line-height: 2.08333vw;
  text-align: center;
  color: #C0C0C0;
}

.help .container button {
  margin: 0 auto;
  margin-top: 1.52778vw;
}

@media (max-width: 575px) {
  .contant {
    margin-top: 15.65217vw;
    padding-top: 75.82609vw;
    width: 100%;
    height: 48.69565vw;
    background: url("../img/bg-img-phone.png") no-repeat center top/cover;
  }
  .contant .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    width: auto;
  }
  .contant .container .text {
    margin: 0 auto;
    width: 88vw;
  }
  .contant .container .text h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.43478vw;
    line-height: 3.47826vw;
    text-align: center;
    letter-spacing: 0.34783vw;
    text-transform: uppercase;
    color: #C0C0C0;
  }
  .contant .container .text h1 {
    margin-top: 0.17391vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9.3913vw;
    line-height: 10.26087vw;
    text-align: center;
    color: #FFFFFF;
  }
  .contant .container .text p {
    margin-top: 3.13043vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.43478vw;
    line-height: 3.47826vw;
    text-align: center;
    color: #C0C0C0;
  }
  .contant .container .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 11.13043vw;
  }
  .contant .container .options div {
    margin-right: 2.78261vw;
    height: 2.78261vw;
  }
  .contant .container .options div img {
    height: 100%;
  }
  .contant .container .options div p {
    margin-left: 1.04348vw;
    font-size: 2.08696vw;
  }
  .country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 100%;
    height: 93.91304vw;
  }
  .country .container {
    margin: 0 auto;
    margin-top: 60.86957vw;
    width: 90.26087vw;
  }
  .country .container .text {
    margin: 0;
  }
  .country .container .text h1 {
    font-size: 2.43478vw;
    line-height: 3.47826vw;
    letter-spacing: 0.34783vw;
  }
  .country .container .text p {
    margin-top: 4.34783vw;
    width: 55.65217vw;
    height: auto;
    font-size: 2.43478vw;
    line-height: 3.47826vw;
  }
  .country .container .options {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 6.78261vw;
  }
  .country .container .options div img {
    height: 2.78261vw;
  }
  .country .container .options div p {
    font-size: 2.08696vw;
    line-height: 2.08696vw;
  }
  .sweden {
    margin: 0;
    width: 100%;
    height: 81.73913vw;
    background: none;
  }
  .sweden .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    padding-top: 21.56522vw;
    width: 83.82609vw;
  }
  .sweden .container .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .sweden .container .text h2 {
    font-size: 2.43478vw;
    line-height: 3.47826vw;
    letter-spacing: 0.34783vw;
  }
  .sweden .container .text h1 {
    margin-top: 1.04348vw;
    font-size: 4.86957vw;
    line-height: 5.56522vw;
  }
  .sweden .container .text p {
    margin-top: 2.43478vw;
    width: 74.78261vw;
    font-size: 2.43478vw;
    line-height: 3.47826vw;
  }
  .sweden .container .text button {
    margin-top: 3.47826vw;
    width: 24.86957vw;
    padding: 1.56522vw 2.6087vw 0.86957vw 2.6087vw;
    border-radius: 2.6087vw;
    font-size: 2.6087vw;
    line-height: 3.47826vw;
    letter-spacing: 0.06957vw;
  }
  .sweden .container .text button div {
    margin: -0.69565vw 0px 0px -1.91304vw;
    width: 5.56522vw;
    height: 5.56522vw;
  }
  .sweden .container .options {
    display: none;
  }
  .partners {
    display: block;
    padding-top: 8.69565vw;
    width: 100%;
    height: 34.78261vw;
  }
  .partners .container {
    margin: 0 auto;
    width: 76.69565vw;
  }
  .partners .container h1 {
    font-size: 6.26087vw;
    line-height: 7.30435vw;
  }
  .partners .container h2 {
    margin-top: 2.6087vw;
    font-size: 3.47826vw;
    line-height: 4.52174vw;
  }
  .help .container {
    margin-top: 22.6087vw;
  }
  .help .container h1 {
    font-size: 5.21739vw;
    line-height: 7.30435vw;
  }
  .help .container p {
    margin-top: 2.6087vw;
    font-size: 3.13043vw;
    line-height: 5.21739vw;
  }
  .help .container button {
    margin: 0 auto;
    margin-top: 3.82609vw;
    width: 24.86957vw;
    padding: 1.56522vw 2.6087vw 0.86957vw 2.6087vw;
    border-radius: 2.6087vw;
    font-size: 2.6087vw;
    line-height: 3.47826vw;
    letter-spacing: 0.06957vw;
  }
  .help .container button div {
    margin: -0.69565vw 0px 0px -1.91304vw;
    width: 5.56522vw;
    height: 5.56522vw;
  }
}
